//@theme "/home/habib350/.config/rofi/themes/bibjaw_1.rasi"
//@theme "/home/habib350/.config/rofi/themes/bibjaw_2.rasi"
//@theme "/home/habib350/.config/rofi/themes/bibjaw_1.rasi"
//@theme "/home/habib350/.config/rofi/themes/bibjaw_2.rasi"
//@theme "/home/habib350/.config/rofi/themes/ahsan.rasi"
//@theme "/home/habib350/.config/rofi/themes/bibjaw_2.rasi"
//@theme "/home/habib350/.config/rofi/themes/bibjaw_1.rasi"
@theme "/home/habib350/.config/rofi/themes/bibjaw_2.rasi"
